
body{
    width:100%
    
}
.content {
       
    border: none ;
    border-radius: 10px;
    background-color:#f1f1f1;      
    margin: 0 200px;
    padding: 10px;     
    
}

input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border-color:#f1f1f1;
    border-style: 8px;
  }
input[type="password"]{        
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border-color:#f1f1f1;
       
}
select{
    width: 100%;
    padding: 5px;
    margin: 8px 0;    
    border-radius: 5px;
    
    
}

input[type="submit"]{

    background-color: #4caf50;;
    border:none;
    padding:5px;
    margin: 8px 0;
    border-radius: 5px;    
    color:white;    
    cursor:pointer;
    font-size:14px;
    width:100%;

}
.title{
    text-align: center;
}
